
# OS-specific files
**/.DS_Store
**/.externalNativeBuild

# Gradle files
**/.gradle
**/build
**/.cxx

# Local configuration file (sdk path, etc)
**/local.properties

# Android Studio captures folder
**/captures

# IntelliJ
**/*.iml
**/.idea

# Kotlin Test
**/.kotlintest